BeautifulSoup==3.2.1
Django==1.8.4
Mako==0.9.1
MarkupSafe==0.18
MySQL-python==1.2.5
PAM==0.4.2
Pillow==2.3.0
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
Whoosh==2.7.0
apt-xapian-index==0.45
apturl==0.4.1ubuntu4
argparse==1.2.1
bootstrap-admin==0.3.3
ccsm==0.9.11.3
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
compizconfig-python==0.9.11.3
configglue==1.1.2
configobj==4.7.2
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dict2xml==1.3
dicttoxml==1.6.6
dirspec==13.10
django-bootstrap3==6.2.2
django-formtools==1.0
django-haystack==2.4.0
django-wkhtmltopdf==2.0.2
dnspython==1.11.1
duplicity==0.6.23
feedparser==5.1.3
haystack==0.26
html2text==2015.2.18
html5lib==0.999
httplib2==0.8
ipython==1.2.1
jdcal==1.0
lockfile==0.8
lxml==3.3.3
oauthlib==0.6.1
oneconf==0.3.7.14.04.1
openpyxl==2.2.6
paramiko==1.10.1
pefile==1.2.10-114
pexpect==3.1
piston-mini-client==0.7.5
protobuf==2.5.0
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pyinotify==0.9.4
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu1
python-debian==0.1.21-nmu2ubuntu2
python-ptrace==0.8.1
python-xlib==0.14
pytz==2015.2
pyxdg==0.25
reportlab==3.0
requests==2.2.1
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.5.2
system-service==0.1.6
uTidylib==0.2
urllib3==1.7.1
wkhtmltopdf==0.2
wsgiref==0.1.2
zope.interface==4.0.5
